Source: makems
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, libcasacore-dev, libboost-dev
Standards-Version: 3.9.2
Homepage: https://github.com/ska-sa/makems

Package: makems
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: creates a MeasurementSet
 Makems creates a MeasurementSet by filling in all metadata, while the data
 columns are filled with zeroes. Optionally the columns like MODEL_DATA needed
 for the CASA/AIPS++ imager are created too in a way they are recognized by
 the imager.

